body {
	background-color: #f8f8f8;
	cursor: default;
	scroll: none;
	border: 0;
	margin: 0;
	font: 12px "Microsoft YaHei",Arial, Verdana, Geneva, sans-serif;
	color: #333;
}
form {
	margin: 0;
}
.special-padding {
	padding: 3px 2px;
}

